<launch>
    <arg name="bag_file" default="/home/datasets/V1_01_easy.bag"/>
    <arg name="vocab" default="/home/ORB_SLAM2/Vocabulary/ORBvoc.txt"/>
    <arg name="settings" default="/home/ORB_SLAM2/Examples/Monocular/EuRoC.yaml"/>

    <node pkg="ORB_SLAM2" type="Mono" name="orb_slam2_mono_node" output="screen"
          args="$(arg vocab) $(arg settings)"/>

    <node pkg="rosbag" type="play" name="rosbag_play_image_sequence" output="screen"
          args="--pause $(arg bag_file) --topics /cam0/image_raw /cam0/image_raw:=/camera/image_raw"/>
</launch>